.icon-wrapper {
    display: inline-block;
    border-radius: 50%;
    padding: 0.5em 0.6em;
    background-color: #d8f4e2;
}

.alignment {
    display: flex;
    align-items: center;
    gap: 5px;
}
/* *{
    background: url("https://www.shutterstock.com/image-photo/shelf-brown-wood-plank-board-260nw-1710794752.jpg");
} */